@import './variables';



.preview {
   background: url('../../../public/images/preview/previewBg.png') center / cover no-repeat;
   &__content {
    padding: 449px 520px 0px 441px;
   }
    &__img {
    img {
        max-width: 100%;
        height: auto;
    }
    }


    &__title {
        font-family: 'Industry';
        font-weight: 700;
        font-size: 55px;
        line-height: 66px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
        margin-bottom: 28px;
        max-width: 1031px;
        height: 190px;
    }
}